body, html{
    height: 100%;
    /* width: 100%; */
}
.box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px
}

.left{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.stackCard{
    height: 200px;
    width: 130px;
    margin: auto;
    text-align: center;
    position: relative;
}

.stackCard .card{
    height: 200px;
    width: 125px;
    margin: auto;
    text-align: center;
}

.right{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.player{
    height: 25%;
    width: 96%;
    margin-left: 30px;
}

.playerCards{
    display: flex;
    flex-direction: row;
}
.card{
    vertical-align: center;
    height: 115px;
    width: 75px;
    margin-left: -20px;
    box-shadow: 2px 0px 15px 0px rgba(0, 0, 0, 0.6), 3px 2px 30px 3px rgba(0, 0, 0, 0.5);
}

.first{
    margin-left: 0px;
}

.card img{
    height: 100%;
    width: 100%;
}

p{
    margin-bottom: 0;
}

.beforeDealingCards{
    display: none;
    position: absolute;
    top: 245.09375;
}