.settings{
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: center;
}


.settings img{
    /* box-shadow: none; */
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.settings img:hover{
    height: 50px;
    width: 50px;
    -webkit-animation: spin 5s infinite linear;
}

#theme-selection{
    padding: 15px;
}

.modal-content{
    box-shadow: 1px 3px 4px 1px;
    border-radius: 1.3rem;
}

.modal-text {
    margin-bottom: 0px;
}

@keyframes spin {
    0%  {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }   
}

.dinoTheme{
    -moz-animation: backgroundAnimation 2s ease;
    animation: backgroundAnimation 2s ease;
    background-image: url('dinosTransparent.png');
}

.testbox{
    height: 200px;
    width: 200px;
}

.settings-theme{
    display: flex;
    flex-direction: row;
}

.selected-theme p{
    padding: 15px;
    line-height: 38px;
    /* margin-bottom: 0; */

}





