body, html {
    height: 100%;
}

.winner{
    background-color: rgba(255,153,0, 0.6);
}

.settings{
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: center;
}


.settings img{
    /* box-shadow: none; */
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.settings img:hover{
    height: 50px;
    width: 50px;
    -webkit-animation: spin 5s infinite linear;
}

#theme-selection{
    padding: 15px;
}

.modal-content{
    box-shadow: 1px 3px 4px 1px;
    border-radius: 1.3rem;
}

.modal-text {
    margin-bottom: 0px;
}

.form-control {
    margin-bottom: 5px;
}

input.form-control.playerName:focus {
    border-color: rgba(255, 153, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

#exitGame, #applyChanges, #closeSettings, #playAgain, #theme-dropdown-button, #theme-dropdown, #playerNamesSubmit{
    background-color: rgba(255, 153, 0, 0.8);
    border-color: rgba(255, 153, 0, 0.8);
}

#theme-dropdown:active{
    border: none;
}

#theme-dropdown, .uno-rules p, #applyChanges, #closeSettings{
    font-size: 16px;
}

#settings-modal .modal-title{
    font-size: 25px;
}

#theme-dropdown-button:hover{
    background-color: #e58900;
}

.dropdown-item:hover{
    background-color: #f2f2f2;
}

.uno-rules{
    padding: 27px;
}

.uno-rules a{
    color: #000000;
    text-decoration: none;
}

.uno-rules a:hover{
    color: #ff9900;
}

.dinoTheme{
    -moz-animation: backgroundAnimation 2s ease;
    animation: backgroundAnimation 2s ease;
    background-image: url('Maybe\\dinosTransparent.png');
}

.mandalaTheme{
    -moz-animation: backgroundAnimation 2s ease;
    animation: backgroundAnimation 2s ease;
    background-image: url('Maybe\\transparent-ramadan-kareem-greeting-card.png');
    background-size: cover;
}

.geometricTheme{
    -moz-animation: backgroundAnimation 2s ease;
    animation: backgroundAnimation 2s ease;
    background-image: url('Maybe\\geometric.jpg');
    background-size: cover;
}

.settings-theme{
    display: flex;
    flex-direction: row;
}

.selected-theme{
    position: relative;
    padding: 15px;
}

.selected-theme p{
    padding: 6px;
    color: #939393;
    margin-bottom: auto;
}

.gameField {
    /* background-image: url("C:\\Users\\denise.matschnig\\Documents\\unoui\\242.jpg"); */
    /* background-image: linear-gradient(rgba(255,0,0,0), rgba(100, 25, 0, 15)), url('242.jpg'); */
    /* background-image: url('D:\Repository\\UNO_Projekt\\unoui\\242.jpg'); */
    
    height: 100%;
    width: 100%;
    display: flex;
    /* background-position: center;  */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

.stacks {
    height: 100%;
    width: 30%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.stackCards {
    height: 27%;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    position: relative;   
}

.stackCards .card {
    height: 230px;
    width: 150px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    position: relative;   
}

.stackCards img{
    height: 100%;
}

.success {
    background-color: rgba(112, 203, 21, .5) !important;
}

.singlePlayer {
    padding: 10px; 
    margin-left: auto;
    width: 90%;
    height: 50%;
    display: flex;
}

.players {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playerInformation {
    width: 150px;
    text-align: center;
    position: absolute;
    padding: 5px;
    margin: 72px 0px 0px -90px;
    z-index: 10;
    transform:rotate(-90deg);
}

.singlePlayer .playerName {
    text-align: center;
    margin: auto;
    transform: rotate(-90deg);
}

.singlePlayer p {
    font-size: 17pt;
    color: black;
    margin-bottom: 0;   
}

.playerCards {
    display: flex;
    flex-direction: row;
    width: 95%;
    background-color: rgba(144, 144,144, .5);
    border: 3px black solid; 
    border-radius: 10px;
    margin-left: 10px;
}

.points {
    width: 5%;
    text-align: center;
    margin: auto;
}

.card {
    /* vertical-align: center; */
    height: 100%;
    margin-left: -40px;
    box-shadow: 2px 0px 15px 0px rgba(0, 0, 0, 0.6), 3px 2px 30px 3px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.front, .back{
    height: 100%;
}

.playerCards img{
    height: 100%;
    border-radius: 10px;
}
.playerCards .first {
    margin-left: 2px;
}

#currentPlayer {
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

#colorPicker {
    display: none;
}

.currentPlayerBorder {
    border: 3px  #ff9900 solid;
}

.invisible {
    display: none;
}

#end-body{
    padding: 0px;
}

#endscreen .endScore{
    display: flex;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    margin: 5px 0 5px 0;
    border-bottom: 1px solid #f2f2f2;
    font-size: 20px;
}

#endscreen .modal-title{
    width: 100%;
    text-align: center;
}

#endscreen{
    background-color: #f2f2f2;
}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes spin {
    0%  {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }   
}

@keyframes backgroundAnimation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}






